* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background Colors */
  --bg-primary-color: #0c0c0c;

  /* Text Colors */
  --text-primary-color: #f0f0f0;

  /* Border Colors */
  --border-primary-color: #333333;

  /* Spacing Variables */
  --space-xs: 4px;
  --space-s: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border Radius */
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl; 20px;
  --border-radius-2xl: 24px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

main, section {
  width: 100%;
  height: 100%;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  height: 100%;
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-s) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-s);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-primary-color);
}
